<div class='search-results'>
  <div class='covers'>
    <div class='cover cover-last-2'>
      <img ng-src="{{lastLastCover || '/assets/default-cover.png'}}" />
    </div>
    <div class='cover cover-last'>
      <img ng-src="{{lastCover || '/assets/default-cover.png'}}" />
    </div>
    <div class='cover cover-current'>
      <img ng-src="{{currentCover || '/assets/default-cover.png'}}" />
    </div>
  </div>
  <div class='title'>
    {{currentTrackTitle}}
  </div>
  <div class='uploader'>
    Uploaded by <a ng-href="{{currentTrackAuthorUrl}}" target="_blank">{{currentTrackAuthor}}</a>
  </div>
</div>
<div class='loading' ng-show='loading'>
  <div class='indicator'>
    <i class="fa fa-cog fa-spin"></i><br />
    Searching...
  </div>
</div>
