<div class='search-results'>
  <div class='covers'>
    <div class='cover cover-last-2'>
      <img src='/assets/default-cover.png' />
    </div>
    <div class='cover cover-last'>
      <img src='/assets/default-cover.png' />
    </div>
    <div class='cover cover-current'>
      <img src='/assets/default-cover.png' />
    </div>
  </div>
  <div class='title'>
    {{currentTrackTitle}}
  </div>
  <div class='uploader'>
    Uploaded by <a href='#'>someone</a>
  </div>
</div>
<div class='loading' ng-show='loading'>
  <div class='indicator'>
    <i class="fa fa-cog fa-spin"></i><br />
    Searching...
  </div>
</div>
