// Common elements
html, body {
  min-height: 100%;
}

body {
  padding: 70px 0;
}

.app-continer {
  min-height: calc(100% - 140px);
}

.navbar {
  &.navbar-default {
    box-shadow: none;
  }

  .search-form {
    border-color: transparent;

    input {
      color: $navbar-inverse-bg !important;
      border-radius: 30px;
      border-color: $navbar-inverse-border;
    }

    .btn-submit {
      color: #fff;
      border-color: $navbar-inverse-border;
      background-color: $navbar-inverse-border;
      border-radius: 0 30px 30px 0;
    }
  }
}
