// Player-related CSS

.navbar-player {
  background-color: #eee;
  border-color: darken(#eee, 30%);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.3);

  .container-fluid {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 64px;
  }

  .player-controls {
    order: 1;
    // Be a flex continer to align items
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    height: 64px; // Max height available

    padding-right: 15px;

    i.control {
      font-size: 1.8em;
      float: left;
      margin: 0 8px;

      &:hover {
        color: #333;
      }

      &#play, &#pause {
        font-size: 2.5em;
      }
    }
  }

  .player-progress {
    order: 2;
    width: 100%;
    margin: auto;
    padding: 1px 0px;

    // Be a flex continer to align items
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    height: 64px; // Max height available

    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;

    .current-time, .total-time {
      min-width: 80px;
      text-align: center;
    }

    .slider {
      width: 100%;
      height: 3px;

      .slider-track {
        position: relative;
        margin: 0;
        height: 3px;
        background: none;
        background-color: #cae6fc;
      }
    }
  }

  .player-volume {
    order: 3;
    max-width: 160px;
    width: 100%;
    height: 64px;

    display: flex;
    align-items: center;

    padding-left: 20px;
    padding-right: 5px;

    .slider {
      width: 100%;
      height: 3px;

      .slider-track {
        position: relative;
        margin: 0;
        height: 3px;
        background: none;
        background-color: #cae6fc;
      }
    }
  }
}

// Avoid double touch in slides on mobile devices
@media screen and (min-width: $screen-sm-min) {
  .navbar-player {
    .container-fluid {
      .player-volume {
        .slider-handle {
          display: none;
        }

        &:hover {
          .slider-handle {
            display: block;
          }
        }
      }

      .player-progress {
        .slider-handle {
          display: none;
        }

        &:hover {
          .slider-handle {
            display: block;
          }
        }
      }
    }
  }
}

// Responsive on mobile screens
@media screen and (max-width: $screen-xs-min) {
  .navbar-player {
    height: $navbar-height+40px;

    .container-fluid {
      flex-wrap: wrap;
      justify-content: center;
      padding: 0;

      .player-controls {
        order: 2;
      }

      .player-progress {
        order: 1;
        border: none;
        height: 30px;
        margin-top: 10px;

        .current-time, .total-time {
          min-width: 70px !important;
        }
      }

      .player-volume {
        display: none;
      }
    }
  }
}

// Responsive on small screens
@media screen and (max-width: $screen-sm-min) {
  .navbar-player {
    .container-fluid {
      .player-progress {
        border: none;

        .current-time, .total-time {
          min-width: 60px;
        }
      }
    }
  }
}
