$search_result_row_height: 80px;

.search-results {
  position:fixed;
  top: 50px;
  bottom: 64px;
  left: 0px;
  right: 0px;

  display:flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;

  width: 90%;
  margin: 0 auto;

  .covers {
    order: 1;
    width: 100%;

    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;

    .cover {
      position: relative;
      border-radius: 5px;
      overflow: hidden;

      img {
        width: 100%;
        height: auto;
        border-radius: 5px;
      }
    }

    .cover-current {
      max-width: 350px;
      max-height: 350px;
      z-index: 30;
      box-shadow: 0 0 20px #000;
    }

    .cover-last {
      margin-right: -100px;
      max-width: 250px;
      max-height: 250px;
      z-index: 20;

      opacity: 0.9;
    }

    .cover-last-2 {
      margin-right: -100px;
      max-width: 180px;
      max-height: 180px;
      z-index: 10;

      opacity: 0.6;
    }
  }

  .title {
    order: 2;
    width: 100%;

    margin: 15px 0;

    text-align: center;
    font-size: 1.5em;
    font-weight: 200;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .uploader {
    order: 3;
    width: 100%;

    text-align: center;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  z-index: 1020;

  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;

  background-color: rgba(0, 0, 0, 0.5);

  .indicator {
    padding: 20px 30px;

    color: #d3d3d3;
    font-size: 1.5em;
    text-align: center;

    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.7);

    i.fa{
      font-size: 2em;
      margin-bottom: 5px;
    }
  }
}

// Avoid double touch in slides and buttons on mobile devices
@media screen and (max-width: 600px) {
  .search-results {
    .covers {
      .cover-last, .cover-last-2 {
        display: none;
      }
    }
  }
}

// Responsive on mobile screens
@media screen and (max-width: $screen-xs-min) {
  .search-results {
    .covers {
      .cover-current {
        max-width: 250px;
        max-height: 250px;
      }
    }
  }
}
