<div class='container'>
  <div class="page-header">
    <h1>About Piped Beats</h1>
  </div>
  <p>Piped Beats is, speaking clearly, a simple client of SoundCloud that allows you to listen for free to streamed music, selected using your preferences (either by keywords or by genre).</p>

  <p>The idea behind this project isn't to create an advanced streaming radio. It's just to experiment with new technologies to do a browser-based client for a well-known API.</p><p>Why create a client to stream music? Well, the real question is: why not?.</p>

  <p>The project has been developed by Óscar de Arriba, a web developer from <a href='https://en.wikipedia.org/wiki/Asturias' dest='_blank'>Asturias, Spain</a>. You can find more of his research and developments on <a href='http://codingcode.io' target='_blank'>his blog</a> and <a href='https://www.github.com/odarriba' target='_blank'>Github account</a>, or just connect with him using <a href='https://www.twitter.com/odarriba' target='_blank'>Twitter</a>.</p>

  <h5 class='madein'>made with <i class='fa fa-heart'></i> in Asturias</h5>
</div>
